.blog img{
    width: 100%;
}


.blog1{
    position: absolute;
    top: 25%;
    color: white;
    padding: 10px;
    font-size: 26px;
   text-align: center;
}
.link-button{
    text-decoration: none;
    color: white;
    background-color: orangered;
    padding: 10px 30px;
    border-radius: 5px;
}
.vlog{
    text-align: center;
  
}