body{
    font-family: 'Poppins', sans-serif;
}

.blog img{
    width: 100%;
}


.blog1{
    position: absolute;
    top: 25%;
    color: white;
    padding: 10px;
    font-size: 26px;
   text-align: center;
}
.link-button{
    text-decoration: none;
    color: white;
    background-color: orangered;
    padding: 10px 30px;
    border-radius: 5px;
}
.vlog{
    text-align: center;
}
a{
    color: black;
}
.rrr{
    text-decoration: none;
    color: white;
    background-color: orangered;
    padding: 10px 30px;
    border-radius: 5px;

}
.rrr2{
    text-align: center;
}
section .vlog2{
    display: flex;
    margin-bottom: 100px;
}
.half-width1{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 5px 5px 20px gray;
    background-color: gray;

}
.half-width2{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 5px 5px 20px gray;
    background-color: rgb(172, 123, 131);
}
.half-width3{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 5px 5px 20px gray;
    background-color: rgb(190, 190, 153);
}
.program{
    background-color: rgb(48, 43, 43);
    color: white;
}
footer{
    color: orangered;
}